[submodule "shell/.config/zsh/oh-my-zsh"]
	path = shell/.config/zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "omarchy/.local/share/omarchy"]
	path = omarchy/.local/share/omarchy
	url = https://github.com/basecamp/omarchy.git
